name: Building Package

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'
  pull_request:
    branches:
      - '**'


jobs:
  build:
    uses: openalea/github-action-conda-build/.github/workflows/conda-package-build.yml@git_describe_tag
    with:
      operating-system: '["ubuntu-latest", "macos-latest", "macos-13"]'
      python-minor-version: "[9, 10, 11, 12]"
    secrets:
      anaconda_token: ${{ secrets.ANACONDA_TOKEN }}
